<script setup>

import ScoreList from "../components/ScoreList.vue";
</script>

<template>
  <div class="min-h-screen bg-gray-100 p-6 dark:bg-zinc-900 dark:text-white">
    <ScoreList ></ScoreList>
  </div>
</template>

<style scoped>

</style>