<script setup>

import axios from "axios";
import {computed, onMounted, ref} from "vue";

import TrophyIcon from 'vue-material-design-icons/Trophy.vue';

const scores = ref([])

const fetchScore = async () => {
  const res = await axios.get(`${import.meta.env.VITE_API_SCORE}/ranking`, {
    withCredentials: true,
  })
  res.data.sort((a, b) => {
    return b.totalScore - a.totalScore
  })
  scores.value = res.data
}

const podium = computed(() => {
  return scores.value.slice(0, 3)
})

const ranking = computed(() => {
  return scores.value.slice(3)
})

onMounted(async () => {
  await fetchScore()
})
</script>

<template>
  <h1 class="flex justify-center text-6xl mb-12 font-extrabold">Wall of Fame</h1>
  <div v-if="scores.length > 0" class="max-w-4xl mx-auto">
    <div class="flex gap-10 h-[450px] items-end">
      <div v-for="(person, index) in podium" :key="person.email" class="w-full h-full"
           :class="[{ 'order-2': index === 0 }, { 'order-1': index === 1 }, { 'order-3': index === 2 }]">
        <div class="w-full h-full flex text-center flex-col items-center justify-end gap-6">
          <div class="flex flex-col items-center gap-4">
            <div class="h-16 w-16">
              <img v-if="person.avatar" class="flex-none rounded-lg bg-gray-50" :src="person.avatar" alt=""/>
            </div>
            <p>{{ `${person.email}` }}</p>
          </div>
          <div
              class="flex items-center justify-center bg-gray-300 rounded-t-md w-full text-center relative dark:bg-sky-900"
              :class="[{ 'h-full': index === 0 }, { 'h-1/2': index === 1 }, { 'h-1/3': index === 2 }]">
            <div class="w-full absolute flex justify-center -top-4">
              <div class="shadow relative z-20 w-max p-2 rounded-md"
                   :class="[{ 'bg-amber-300 animate-bounce': index === 0 }, { 'bg-gray-200 ': index === 1 }, { 'bg-amber-700': index === 2 }]">
                <TrophyIcon class="text-black opacity-50" :size="26"/>
              </div>
            </div>

            <div class="flex-col flex">
              <div class="font-extrabold">{{ `${person.totalScore} pts` }}</div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="bg-gray-600 w-full h-4 mb-8 dark:bg-sky-950"></div>

    <div class="flex-col flex divide-y-2 divide-sky-900 rounded-lg bg-sky-900 bg-opacity-20 px-4">
      <div v-for="(person, index) in ranking" :key="person.email" class="w-full">
        <div class="flex w-full p-5 gap-4 justify-between items-center -mt-1">
          <div class="flex justify-center items-center gap-3">
            <p>{{ `${index + 4}.` }}</p>
            <div class="h-16 w-16">
              <img v-if="person.avatar" class="h-16 w-16 flex-none rounded-lg bg-gray-50" :src="person.avatar" alt=""/>
            </div>
            <p class="mt-1 truncate text-xs leading-5">{{ person.email }}</p>

          </div>
          <div class="min-w-0 flex flex-col flex-end text-right">
            <p class="text-xl leading-6 text-gray-900 font-extrabold dark:text-white">{{ `${person.totalScore} pts` }}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <p v-else class="text-3xl font-extrabold text-center">Aucun score enregistré</p>
</template>
<style scoped>

</style>